@charset "utf-8";

.page-footer {
    clear: both;
    color: #666;
    position: relative;
    /* height: 2.4em; */
    line-height: 2.4em;
    background-color: #ececec;
    margin-top: -2.4em;
    text-align: right;
    padding-right: 3em;
}