@charset "utf-8";

.logo {
    padding-top: .8em;
    padding-left: 1em;
}

.logo img {
    width: 9.5em;
    height: 2em;
}

.icons img {
    width: 2em;
    height: 2em;
}
.icons.contact-us {
    display: none;
}
@media (min-width: 50em) {
    .icons.contact-us {
        display: inline-block;
    }
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
}

@media (min-width:50em) {
    .header {
        /* height: 3.5em; */
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .header > .logo {
        flex: 1;
        align-self: center;
        padding-right: 2em;
    }
    .header > .menu {
        flex: 8;
    }
    .header > .icons {
        text-align: right;
        flex: 1;
        padding-right: 1em;
    }
}