@charset "utf-8";


nav.menu a {
    color: #000;
    text-decoration: none;
  }
nav.menu a:visited {
    color: var(--brand-green);
}
nav.menur a:hover {
    color: var(--brand-green);
    text-decoration: underline;
}
nav.menu a:active {
    color: var(--red);
}

/*
* Menu
*/
.menu {
    position: relative;
    z-index: var(--z-dropdown-menu);
}

.menu-toggle {
    position: absolute;
    top: -1.5em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.9;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggle::after {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}

.menu.is-open .menu-dropdown {
    display: block;
}

@media (min-width: 50em) {
    .menu-toggle {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }
}

.menu.is-open .menu-dropdown {
    display: block;
}
/*
* Nav Menu
*/
.nav-menu {
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    list-style: none;
    background-color: #fff;
    /* color: #fff; */
}

.nav-menu > li + li {
    border-top: 1px solid #ccc;
}

.nav-menu > li > a {
    display: block;
    padding: 0.8em 1em;
    /* color: #fff; */
    font-weight: normal;
    border-radius: 5px 5px 0 0;
}
.nav-menu > li > a:hover {
    /* background-color: #dedede; */
    background-color: #969696;
    color: #fff;
}
@media (min-width: 50em) {
    .menu-dropdown {
        position: static;
    }
    .nav-menu {
        border: 0;
    }

    .nav-menu > li {
        display: inline-block;
    }
    .nav-menu > li + li {
        border: 0;
        padding-left: 2em;
    }

    .nav-menu > li > a {
        padding: 0.3em;
        text-align: left;
        font-weight: 600;
    }
}

@media (min-width: 50em) {
    /* .nav-menu {
        padding: 0 4em;
    } */
}