#header {
	height: 130px;
	width: 100%;
	margin-top: 3px;
}
.thre {
	line-height: 25px;
	height: 25px;
	float: left;
	/*background-image: url(../../images/mallcar.gif);
	background-repeat: no-repeat;
	background-position: left center;*/
	text-indent: 27px;
	margin-left: 3px;
}
.touzi a:hover {
	color: #FF0000;
}

#preface_wrapper {
	height: 97px;
}

#preface_left {
	float: left;
	padding-left: 40px;
	height: 97px;
	width: 210px;
}

#preface_right {
	float: right;
	width: 750px;
	padding-top: 2px;
}
#preface_right #right_up {
	height:55px;
}
#right_up #three {
	line-height: 23px;
	height: 23px;
	float: left;
	background-color: #EBEBEB;
	width: 210px;
	margin-left: 300px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 12px;
}

#right_up #logon {
	float: right;
	padding-right: 10px;
}
#logon a {
	text-decoration: underline;
	font-size:13px;
	color: #990000;
}


#nav_wrapper {
	margin-top: 3px;
	height: 35px;
}
#nav_corner {
	background-image: url(../../images/nav_bgcorner.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	height: 35px;
	width: 10px;
}
#nav {
	height: 35px;
	background-image: url(../../images/nav_bg.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	float: right;
	width: 740px;
}
#nav .nav_flyout {
	float: left;
	padding-left: 18px;
	padding-top: 10px;
}
#nav .nav_A {
	font-size: 14px;
	color: #FFFFFF;
	font-family: "ו";
	cursor:crosshair;
}
#nav #_help {
	padding-left: 75px;
}
#nav a:hover {
	font-size: 15px;
	font-weight: bold;
	/*background-color: #FF0000;
	border: 1px outset #660099;*/
}
#nav .nav_popup {
	z-index: 5;
	width:100px;
	border: 1px solid #b8b8b8;
	text-align:left;
	white-space:nowrap;
	position: relative;
	color:#FFFFFF;
	background-color: #525252;
	display:none;
}

.nav_popup dl {
	padding-left: 10px;
	font-size: 14px;
		
}
.nav_popup dl dt {
	margin-bottom: 3px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #E1E1E1;
}
#nav dt a {
	font-size: 13px;
	color: #FFFFFF;
}
#nav .popup_lastA {
	padding-top: 5px;
	color: #CC0000;
}
#nav .nav_popup a:hover {
	font-weight: normal;
	background-color: #f0f7fd;
	font-size: 14px;
	display: block;
	color: #000000;
	/*border: 1px solid #addbef;*/
}



#searchbar {
	height: 31px;
	background-image: url(../../images/searchbar_bg.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
#searchbar_wrapper {
	width: 900px;
	margin-left:auto;
	margin-right:auto;
}
#searchbar .magnifier, #searchbar .searchform {
	float: left;
}
#searchbar #classification {
	width: 160px;
}
#searchbar .searchform {
	margin-top: 4px;
}
#searchbar .searchkeywords {
	float: right;
	margin-top: 7px;
}

#keywords a:hover {
	color: #F00000;
	text-decoration: underline;
}

#loginLayer {
	background-image: url(images/loginlayer_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 406px;
	width: 314px;
	z-index: 5;
	display: none;
	margin: auto;
}

