#footer {
	width: 770px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #CCCCCC;
}
#footer a:hover {
	text-decoration:underline;
}

#footer #contact {
	line-height: 23px;
	height: 23px;
}




